**/node_modules/**

.DS_Store
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
.idea
.kotlin/

docker/data
coverage
server/.wrangler/
server/wrangler.*.generated.json

vite.config.js.timestamp-*
.pnpm-store
.devcontainer/library
.devcontainer/.env*
*.tsbuildinfo
*.tsbuildInfo

mise.local.toml
.mise.local.toml
e2e/.setup-token
